# Elasticsearch/Kibana/Logstash Version
ELASTIC_VERSION=8.12.0

# Memory Allocation
LS_HEAP_SIZE=1g            # Logstash JVM heap
ES_HEAP_SIZE=1g            # Elasticsearch JVM heap

# Service Ports (customize if needed)
ES_PORT=9200
KIBANA_PORT=5601
KAFKA_PORT=9092
LOGSTASH_PORT=5000
