filebeat.autodiscover:
  providers:
    - type: docker
      templates:
        - config:
            - type: container
              paths:
                - /var/lib/docker/containers/${data.docker.container.id}/*.log
              processors:
                - add_docker_metadata: ~
                - add_fields:
                    target: ""
                    fields:
                      demo: docker

output.logstash:
  hosts: ["logstash:5044"]

logging.level: info
